*~
*.c
\#*
.\#*
src/echo
src/dns
src/poison
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
src/idns_server
src/loop
src/tcpsyn
src/dnsself
src/edns0
src/edns0_tcp
src/uncompress_loop
src/uncompress_loop_tcp
src/dnsclient_raw
src/dns_server

