*~
*.c
\#*
.\#*
*.a
src/echo
src/dns
src/poison
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
src/idns_server
src/loop
src/tcpsyn
src/dnsself
src/edns0
src/edns0_tcp
src/uncompress_loop
src/uncompress_loop_tcp
src/dnsclient_raw
src/dns_server
src/edns0_server
src/edns_server
src/tkey
src/echo_client
src/echo_server
src/edns_auth_server
src/edns_badvers_server
src/tc1_server
src/cname_server
src/dname_server
src/axfr
src/axfr_server
src/axfr_udp
src/edns0_compress
src/txt_server
src/long_server


