*~
*.c
\#*
.\#*
*.a
*.orig
Testing
local.build.sh
bin/
lib/
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
data/dsset*
data/*.full
data/*.signed
data/*.signed
data/*.key
data/*.yaml
data/keys
